{% extends 'blog/base.html' %}
{% block content %}
<main id="main">
  <section>
    <div class="container">
      <div class="row">

        <div class="col-md-9" data-aos="fade-up">
          <h3 class="category-title">{{ category.slug }}</h3>  {# Display the category's slug #}

          {% for post in category_posts %}  {# Use a variable to represent the posts in the category #}
          <div class="d-md-flex post-entry-2 half">
            <a href="{% url 'post-detail' post.id %}" class="me-4 thumbnail">
              <img src="{{ post.image.url }}" alt="{{ post.title }}" class="img-fluid">
            </a>
            <div>
              <div class="post-meta">
                <span class="date">{{ post.date_posted|date:"F d, Y" }}</span>
              </div>
              <h3><a href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h3>
              <p>{{ post.content }}</p>
              <div class="d-flex align-items-center author">
                <div class="photo"><img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}" alt=""></div>
                <a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
              </div>
            </div>
          </div>
          {% endfor %}

          <div class="text-start py-4">
            <div class="custom-pagination">
              <a href="#" class="prev">Previous</a>
              <a href="#" class="active">1</a>
              <a href="#">2</a>
              <a href="#">3</a>
              <a href="#">4</a>
              <a href="#">5</a>
              <a href="#" class="next">Next</a>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <!-- Sidebar content here -->
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock content %}
